@import "~bootstrap/scss/bootstrap";

.registerPersonAddressSubmit {
  float: left;
  width: 20%;
  padding: 0.5rem;
  color: white;
  border: 1px solid gray;
  border-left: none;
  background-color: #dddddd;
}

.registerPersonAddressInput {
  position: relative; width: 80%; float: left;
}

.registerPersonAddressInput input {
  width: 100%; padding: 0.5rem; background: rgb(241, 241, 241) none repeat scroll 0% 0%;
}

.registerPersonAddressDiv {
  position: relative;
}

.autocompleteDiv {
  position: absolute; border: 1px solid solid-gray; border-bottom: none; border-top: none; top: 100%; left: 0; right: 0;
}

.autocompleteList {
  padding: 0.5rem; cursor: pointer; background-color: #fff; border-bottom: 1px solid #d4d4d4;
}

.foodTableDiv {
  background-color: white; padding: 1vw;
}

td {
  padding: 0.75vw;
}

.deliverrandoSelectionTable td {
  position: relative;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
}

.invisible {
  display: none;
}

.addProductDiv {
  background-color: ghostwhite; padding: 1vw;
}

.loginSectionDiv {
  background-color: whitesmoke; padding: 1vw;
}

.largeImageWithTextDiv {
  min-height: 100vh; background-position: center; background-size: cover; position: relative;
}

.largeImageWithTextDiv h1 {
  position: absolute; top: 50%; left: 50%; text-align: center; color: white; font-size: 8vw; transform: translate(-50%, -50%); text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.largeImageWithTextLink {
  font-size: 5vw; position: absolute; top: 75%; left: 50%; text-align: center; transform: translate(-50%, -50%);
}

.orderDisplayCheckbox {
  float: right; margin-left: 1vw;
}

.makeOrder {
  width: 100%; background-color: grey;
}

.makeOrderLeftText {
  color: whitesmoke; float: right; font-size: 20px; vertical-align: middle; margin-right: 5px;
}

.makeOrderRightText {
  color: whitesmoke; float: left; font-size: 20px; vertical-align: middle; margin-left: 5px;
}

.accordionClass {
  @extend .card-body;
}

.errorTextColor {
  color: darkred;
}

.width100Percent {
  width: 100%;
}