<div style="background-image: {{ asset(backgroundImgUrl) }};" class="largeImageWithTextDiv">
    <h1>
        {{ header }}
    </h1>
    <a href="{{ path('index') }}" style="color: white;" class="largeImageWithTextLink"><strong>Jetzt sofort bestellen!</strong></a>
</div>